/******************************
* En-tête
*******************************/

header {
	color: blue;
	text-align: right;
	background-color: lavender;

}	

.menu {
	font-family: sans-serif;
	font-size: 13px;
	color: #0000A0;
	text-align: right;
	font-weight : bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	background-color: lavender !important;
	border-style: hidden !important;
}

/******************************
* Pied de page
*******************************/

.foot {
	font-family: sans-serif;
	color : #0000A0;
	font-size: 13px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-top:25px;
	text-align: center;
  overflow-y:hidden;
  height: 40px;
	background-color: lavender !important;
}

/******************************
* Body
*******************************/

.projects {
	background-color : white !important;
}

a {  
  color : #0000A0;
  font-weight : bold;
  font-size: 15px;
}

/******************************
* Images et logos
*******************************/

.img{
	width : 85%;
	height: 85%;
}

.logo{
  margin-left: 10%;
  width:80% !important;
}

.bio{
  margin: 0px !important;
  padding: 0px !important;
}

.drapeau{
  width:25px;
  height:25px;
  margin-right: 5px;
  margin-left: 5px;
}

.photoAccueil{
  width:70%; 
  margin-left:15%
}

.accueil{
 text-align: center;
 font-size: 15px;
}



/******************************
* Page A propos de moi
*******************************/
h1 {
  text-align: center;
}

p {
  font-size : 15px;
  text-align: justify;
  text-indent : 30px;
}

.titleComp{
  color : #0000A0;
  font-weight: bold;
  font-size: 15px;
}

.legendes{
  margin-left: 20%;
  border: 1px solid #0000A0;
  background-color: lavender;
  border-radius: 10px;
  font-size: 12px;
}

.presentation{
  text-align: center;
  font-size: 15px;
  border :1px solid #0000A0;
  border-radius: 10px;  
}


.dg1{
  color : red;
}

.dg2{
  color : orange;
}

.dg3{
  color : green;
}





/******************************
* Formulaire contact
*******************************/
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

div + div {
  margin-top: 5px;
  vertical-align: middle;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: .5em;
}

